body {
  background-color: powderblue;
}

h1 {
  color: blue;
  text-align: center;
  font-family: verdana;
  font-size: 222%;
}

h2 {
  text-align: center;

  margin: 5px;

  padding: 5px;
}

p {
  color: black;
  text-align: left;
  font-family: courier;
  font-size: 100%;
}
img {
  
}

.ronaldo__Image {
  background-color: rgba(33, 172, 56, 0.089);
  padding: 20px;
}